<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="54311Bysyk.forWindows11"
    Publisher="CN=nguaduot"
    Version="7.4.222.0" />

  <mp:PhoneIdentity PhoneProductId="d6f08e88-b0cb-4097-b187-d6b50198362d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Timeline Wallpaper</DisplayName>
    <PublisherDisplayName>By_syk</PublisherDisplayName>
    <Logo>Assets\Icons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Timeline.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppName"
        Square150x150Logo="Assets\Icons\Square150x150Logo.png"
        Square44x44Logo="Assets\Icons\Square44x44Logo.png"
        Description="ms-resource:AppDesc"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\Wide310x150Logo.png" Square71x71Logo="Assets\Icons\SmallTile.png" Square310x310Logo="Assets\Icons\LargeTile.png" ShortName="ms-resource:AppNameShort">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Icons\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
	  <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="TimelineService.PushService">
          <BackgroundTasks>
            <Task Type="timer"/>
          </BackgroundTasks>
        </Extension>
      <!--<uap3:Extension Category="windows.appUriHandler">
        <uap3:AppUriHandler>
          <uap3:Host Name="timeline.cn" />
        </uap3:AppUriHandler>
      </uap3:Extension>-->
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
	<uap:Capability Name="picturesLibrary"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>